<div class="container">
  <div class="card my-5">
    <ul class="list-group">
      <li class="list-group-item active" aria-current="true">悩み投稿一覧</li>
      <% @problems.each do |problem| %>
        <%= link_to problem_path(problem.id) do %>
          <li class="list-group-item"><%= problem.title %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>