<%= render partial: 'search_user', locals: { search_user: @search_user } %>
<h3 class="mt-3">ユーザー検索結果</h3>
<p><%= @search_user_results.length %>人のユーザーが見つかりました。</p>
<% if @search_user_results.length !=0 %>
  <% @search_user_results.each do |user| %>
    <% if user %>
      <%= render partial: 'user_index', locals: { user: user } %>
    <% end %>
  <% end %>
<% end %>