<div class="container">
  <div class="card mx-auto" style="width: 18rem;">
    <ul class="list-group">
      <li class="list-group-item active">検索結果</li>
      <% if @results.length !=0 %>
        <% @results.each do |user| %>
          <% if user %>
            <%= link_to user_path(user.id) do %>
              <li class="list-group-item"><%= user.name %></li>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>