<h1>チャットルームを作る</h1>
<%= form_with model: @room, local: true do |f| %>
  <%= render 'shared/error_messages', model: @room %>
  <%= f.text_field :name, placeholder:"ルーム名" %>
  <%= f.submit "ルーム作成" %>
<% end %>