<h3>チャットルームを作成する</h3>
<%= form_with model: @room, local: true do |f| %>
  <div class="card">
    <div class="card-body">
      <%= render 'shared/error_messages', model: @room %>
      <div class="mb-3">
        <h3>ルーム名</h3>
        <p>みんなと共有したい悩みを入力して下さい。</p>
        <%= f.text_field :name, placeholder:"ルーム名を入力して下さい", class:"form-control" %>
      </div>
    </div>
  </div>
  <div class="my-2 text-center">
    <%= f.submit "ルーム作成", class: "btn" %>
  </div>
<% end %>