// Place all the styles related to the problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.problem-title {
  font-weight: 700;
  color: #4f5050;
  cursor: pointer;
  font-size: 17px;
}

.problem-user {
  color: #4f5050;
  cursor: pointer;
  font-weight: 400;
  font-size: 15px;
}

.problem-text {
  color: #333;
  font-size: 15px;
}

.card {
  border: 1px solid #f6f6f6;
  border-bottom: 3px solid #e8e8e8;
  // box-shadow: 0 2px 6px 0 rgba(60,66,87,.01;
}